<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mr-2">
        <input type="text" [(ngModel)]="createdMessage.sender.name" class="form-control" placeholder="What's your name?" name="createdMessageUsername">
      </li>
      <!-- <li class="nav-item mr-2">
        <button class="btn btn-success" type="button" (click)="connect()" [disabled]="!createdMessage.username">Connect</button>
      </li> -->
      <!-- <li class="nav-item">
        <button class="btn btn-warning" type="button" (click)="disconnect()">Disconnect</button>
      </li> -->
    </ul>
  </div>

  <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y : scroll; height: 360px">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-light" *ngFor="let message of messages">
        <span *ngIf="message.type === 'NEW_USER'"> {{message.createdAt | date:'M/d/yy, HH:mm:ss'}} @<span [ngStyle]="{'color': message.color}">{{message.sender?.name}}</span>
          {{message.content}} </span>
        <span *ngIf="message.type === 'MESSAGE'"> {{message.createdAt | date:'M/d/yy, HH:mm:ss'}} <span [ngStyle]="{'color': message.color}">{{message.sender?.name}}</span>
          sent:<br> {{message.content}}</span>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form class="form-inline d-flex">
      <div class="form-group mx-3">
        <input type="text" [(ngModel)]="createdMessage.content" class="form-control" placeholder="Write something..." name="createdMessageText">
      </div>
      <button class="btn btn-primary" type="submit" (click)="sendMessage()" [disabled]="!createdMessage.content">Send</button>
    </form>
    <!-- <div>{{ writingMessage }}</div> -->
  </div>
</div>